<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         point="org.activiti.designer.eclipse.extension.PaletteExtensionProvider">
      <provider
            class="com.cisco.surf.jenkow.ide.config.PaletteProvider">
      </provider>
   </extension>

</plugin>
